<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asen Dimitrov</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<table cellspacing="20">
    <tbody>
    <tr>
        <td><img src="static/python.jpg"
                 alt="asen profile picture"></td>
        <td><h1>Asen Dimitrov</h1>
            <p><em>Student of the pythonic ways.</em></p>
            <p>I am a programmer.</p></td>
    </tr>
    </tbody>
</table>
<hr>
<h3>Developed games</h3>
<ul>
    <li>Jet Car - Extreme Jumping</li>
</ul>
<hr>
<h3>Work Experience</h3>
<table cellspacing="10">
    <thead>
    <tr>
        <th>Dates</th>
        <th>Work</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2024</td>
        <td>Took a python course.</td>
    </tr>
    </tbody>
</table>
<hr>
<h3>Skills</h3>
<table cellspacing="10">
    <tbody>
    <tr>
        <td>Programming</td>
        <td>★★★★★</td>
    </tr>
    <tr>
        <td>Web Development</td>
        <td>★★✰✰✰</td>
    </tr>
    </tbody>
</table>
<hr>
</body>
</html>